

<div class="container-fluid" style="background-color:lightsteelblue">
    <div class="row py-4 px-4">


        <div class="col-md-3">
            <h5>Health</h5>
            <a class="nav-link mt-2" href="#">Medibuddy Gold</a>
            <a class="nav-link mt-2" href="#">Book Medicine</a>
            <a class="nav-link  mt-2" href="#"> Doctor Consultation</a>
            <a class="nav-link  mt-2" href="#">Book a Lab Test</a>
            <a class="nav-link  mt-2" href="#">Covid Essential Items</a>
            <a class="nav-link  mt-2" href="#">Dental</a>
            <a class="nav-link  mt-2" href="#">Cancer Care</a>
        </div>
        <div class="col-md-3">
            <h5>Hospitalization</h5>
            <a class="nav-link  mt-2" href="#">Plan hospitalization</a>
            <a class="nav-link  mt-2" href="#">Locate hospital</a>
            <a class="nav-link  mt-2" href="#"> Download: eCard | Claims Forms</a>
            <a class="nav-link  mt-2" href="#">Intimate Claim</a>
            <a class="nav-link  mt-2" href="#">Track claim</a>
            <a class="nav-link  mt-2" href="#">FAQs</a>
        </div>
        <div class="col-md-3">
            <h5>About</h5>
            <a class="nav-link  mt-2" href="#">Overview</a>
            <a class="nav-link  mt-2" href="#">Testimonials</a>
            <a class="nav-link  mt-2" href="#">Contact</a>
            <a class="nav-link  mt-2" href="#">Blog</a>
            <a class="nav-link  mt-2" href="#">Careers</a>
            <a class="nav-link  mt-2" href="#">Security</a>
        </div>
        <div class="col-md-3">
            <h5>DOWNLOAD APP</h5>
            <a class="nav-link" href="#">Follow us</a>
            <div>
                <button type="button" class="btn btn-secondary btn-lg">Terms of use</button><br>
                <button type="button" class="btn btn-secondary btn-lg mt-2">Private Policy</button>
            </div>
        </div>

    </div>
</div>
