<div class="container mt-5">
  <div class="container-center text-center py-4 ms-5 mt-1 text-light">
    <div class="row">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container  ms-5">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav justify-content-center me-auto mb-2 mb-lg-0">
              <li class="nav-item me-4 ms-5 ">
                <img src="../../../assets/images/talk to doctor.jpeg.jpeg" height="70px" width="70px">
                <a class="nav-link active" aria-current="page" href="#">
                  <h6>Talk To Doctor</h6>
                </a>
              </li>
              <li class="nav-item me-4 ms-4">
                <img src="../../../assets/images/medicine.jpeg" height="70px" width="70px">
                <a class="nav-link active" aria-current="page" routerLink="/medicine">
                  <h6>Medicine</h6>
                </a>
              </li>

              <li class="nav-item me-4 ms-4">
                <img src="../../../assets/images/surgey.png" height="70px" width="70px">
                <a class="nav-link active" aria-current="page" href="#">
                  <h6>Surgery</h6>
                </a>
              </li>
              <li class="nav-item me-4 ms-4">
                <img src="../../../assets/images/insurance.jpeg" height="70px" width="70px">
                <a class="nav-link active" aria-current="page" href="#">
                  <h6>Insurance</h6>
                </a>
              </li>
              <li class="nav-item me-4 ms-4">
                <img src="../../../assets/images/lab test.jpeg" height="70px" width="70px">
                <a class="nav-link active" aria-current="page" href="#">
                  <h6>Lab Test & Packages</h6>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="container-center py-1 ms-5 me-5 shadow-lg rounded-pill w-60">

    <div class="row text-center">

      <div class="col-md-6 py-4">
        <h6>Consult with Top Doctors Online 24x7</h6>
      </div>
      <div class="col-md-6 py-3">
        <button class="btn btn-light rounded-pill curser-pointer">Start Consultation <i
            class="bi bi-arrow-right"></i></button>
      </div>
    </div>

  </div>


  <div class="container-center p-3 mt-5 ms-5 me-5">
    <div class="row">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <!-- <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div> -->
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="https://www.medibuddy.in/assets/medicine-home.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>




  <div class="container ">
    <div class="row  py-3 ms-5 me-5 mt-3">

      <img src="https://www.medibuddy.in/assets/ABHA.svg">
    </div>
  </div>

  <!-- medlab gold cards -->


  <div class="container">
    <div class="row py-3 ms-5 me-5">
      <div class="col-md-5">
        <h4 style="padding:10px">MedLab GOLD</h4>
        <h3 style="padding:10px">Give the Care <br> your family <br> deserves</h3>
        <h5 style="padding:10px">Unlimited Consultations with top Doctors for 6 family members in 18+ specialities</h5>
        <div class="py-2"><button class="btn btn-warning rounded-pill" type="button">
            <h6 class="p-1">Buy MedLab GOLD <i class="bi bi-arrow-right px-3"></i></h6>
          </button></div>
      </div>

      <div class="col-md-7">
        <div class="row">
          <div class="col-md-6 ">
            <div class="card rounded-4 shadow-lg  " style="width: 13rem; height: 17rem;">
              <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg"
                class="card-img-top-left " width="95px" height="95px" alt="...">
              <div class="card-body">
                <h5 class="card-title py-2">Unlimited Free Consultations</h5>
                <p class="card-text py-2">Get unlimited free consultations with all <strong>Doctors 24x7</strong></p>

              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="card rounded-4 shadow-lg" style="width: 13rem; height: 17rem;">
              <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" class="card-img-top-left" alt="..."
                width="90" height="95">
              <div class="card-body">
                <h5 class="card-title py-2">Free For Full Family</h5>
                <p class="card-text py-2">Free consultations for upto <strong>6 family members</strong>.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6 ">
            <div class="card rounded-4 shadow-lg  " style="width: 13rem; height: 17rem;">
              <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg"
                class="card-img-top-left " width="95px" height="95px" alt="...">
              <div class="card-body">
                <h5 class="card-title py-2">Unlimited Free Consultations</h5>
                <p class="card-text py-2">Get unlimited free consultations with all <strong>Doctors 24x7</strong></p>

              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="card rounded-4 shadow-lg" style="width: 13rem; height: 17rem;">
              <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" class="card-img-top-left" alt="..."
                width="90" height="95">
              <div class="card-body">
                <h5 class="card-title py-2">Free For Full Family</h5>
                <p class="card-text py-2">Free consultations for upto <strong>6 family members</strong>.</p>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



  <!-- insurance cards-->

  <div class="container p-5">
    <h3>Insurance</h3>
    <div class="mt-4">
      <h5>Get access to all your Health insurance services - View Policy, Initiate and Track Claims, Go Cashless with
        network hospitals and intimate Hospitalization</h5>
    </div>
    <div class="col-md-12 mt-4">
      <div class="row">
        <div class="card shadow m-auto rounded-5" style="width: 12rem;height: 16rem">
          <div class="card-body ">
            <h5 class="card-title ">E-Card <i class="bi bi-arrow-right  ms-3"></i></h5>
            <p class="card-text font-size:40px ">Get e-cards for you and your family members.</p>
            <img src="https://www.medibuddy.in/assets/services/insurance/ecard.svg" class="float-end mb-3" alt="..."
              height="75" width="75">
          </div>
        </div>

        <div class="card shadow m-auto rounded-5" style="width: 12rem;height: 16rem">
          <div class="card-body">
            <h5 class="card-title">Claims <i class="bi bi-arrow-right ms-3"></i></h5>
            <p class="card-text">Track your claims in real-time.</p>
            <img src="https://www.medibuddy.in/assets/services/insurance/claims.svg" class="float-end" alt="..."
              height="75" width="75">
          </div>
        </div>

        <div class="card shadow m-auto rounded-5" style="width: 12rem;height: 16rem">
          <div class="card-body">
            <h5 class="card-title">Plan <i class="bi bi-arrow-right ms-3"></i>Hospitalization</h5>
            <p class="card-text">Plan and Intimate hospitalization at trusted hospitals.</p>
            <img src="https://www.medibuddy.in/assets/services/insurance/hospitalization.svg" class="float-end"
              alt="..." height="60" width="75">
          </div>
        </div>

        <div class="card shadow  m-auto rounded-5" style="width: 12rem;height: 16rem">
          <div class="card-body ">
            <h5 class="card-title">Network <i class="bi bi-arrow-right ms-3"></i>Hospitals </h5>
            <p class="card-text">Search for the nearest Network hospital to go cashless.</p>
            <img src="https://www.medibuddy.in/assets/services/insurance/network-hospitals.svg" class="float-end"
              alt="..." height="70" width="75">
          </div>
        </div>

        <div class="card  shadow   m-auto rounded-5" style="width: 12rem; height: 16rem;">
          <div class="card-body ">
            <h5 class="card-title">Empanel <i class="bi bi-arrow-right ms-3"></i>Hospitals </h5>
            <p class="card-text">Become a part of Network Hospitals.</p>
            <img src="https://www.medibuddy.in/assets/services/insurance/EmpanelHosp.svg" class="float-end" alt="..."
              height="75" width="75">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--surgery link-->



  <div class="container mt-5 ">
    <div class="row ">
      <img src="https://www.medibuddy.in/assets/surgery.svg" height="70px" width="">
    </div>
  </div>

  <!-- last 2 cards-->
  <div class="container mt-5">

    <div class="row m-5">
      <div class="col-md-6 mt-5 ">
        <img src="https://www.medibuddy.in/assets/banners/mb-gold.webp" height="250" width="460">
      </div>
      <div class="col-md-6 mt-5">
        <img src="https://www.medibuddy.in/assets/banners/careers.webp" height="250" width="460">
      </div>

    </div>
  </div>

</div>



