<form [formGroup]="signupform" (ngSubmit)="signup()">
  <div class="alert alert-danger" role="alert" *ngIf="signupform.valid && !ismobileverified">Mobile number verification is mandatory</div>
  <div class="alert alert-success" role="alert" *ngIf="issignupsuccess">registration is successful, please proceed with Login</div>
  <div class="mb-1">
    <label for="username" class="form-label">User Name</label>
    <input type="text" class="form-control" id="username" formControlName="username">
  </div>

  <label for="mobile number" class="form-label">Mobile Number</label>
  <div class="input-group mb-1">

    <input type="number" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2"
      formControlName="mobile number">
    <span class="input-group-text" id="basic-addon2"><a class="p-1 nodecoration" (click)="getotp()" *ngIf="!ismobileverified && !isgetotp" >Get OTP </a>
      <span class="text-success" *ngIf="ismobileverified"> Verified <i class="bi bi-check2-square"></i></span></span>

  </div>
  <div *ngIf="isgetotp && !ismobileverified">
    <label for="otp" class="form-label">OTP</label>
    <div class="input-group mb-1">

      <input type="number" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2" #otp>
      <span class="input-group-text" id="basic-addon2"><a class="p-1 nodecoration"  (click)="verifyotp(otp.value)">Verify OTP</a></span>

    </div>
    <div class="text-danger" *ngIf="!ismobileverified && isverifyotp">please enter valid otp</div>
    <div>This otp is valid for {{otptimer}} sec</div>
  </div>

  <div class="mb-1">
    <label for="Password" class="form-label">Password</label>
    <input type="password" class="form-control" id="Password" formControlName="password">
  </div>

  <div class="mb-1 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary"  [disabled]="signupform.invalid || !ismobileverified">Submit</button>
</form>